th {
    background-color: #1936a0;
    color:white;
}

.row {
    margin-top: 20px;
}

.form-control.classAccept{
    border-color:green !important;
    background-color:rgb(207, 255, 208) !important;
}

.form-control.classDenied{
    border-color:red !important;
    background-color:#ffcccc !important;
}